<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
    <div class="search-container">
      <button class="bt" (click)="dashboard()">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <input
        type="text"
        [(ngModel)]="searchTerm"
        (input)="filte()"
        class="form-control"
        placeholder="Search..."
      />
      <button class="bt" data-toggle="modal" data-target="#UserModal">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
    <div *ngFor="let oneChat of filtered">
      <ul class="conversation-list">
        <li
          class="clearfix"
          (click)="
            onClickChat(oneChat.id); UpdateMessage(oneChat); scrollBottom()
          "
        >
          <div class="profile-picture" style="background-color: #f44336">
            <div class="initials">
              {{
                oneChat.userId === userOnline.id
                  ? getInitials(oneChat.nomSub, oneChat.prenomSub)
                  : getInitials(oneChat.nom, oneChat.prenom)
              }}
            </div>
          </div>
          <div class="about">
            <div class="name">
              {{
                oneChat.userId === userOnline.id ? oneChat.nomSub : oneChat.nom
              }}
              {{
                oneChat.userId === userOnline.id
                  ? oneChat.prenomSub
                  : oneChat.prenom
              }}
            </div>
            <div *ngIf="oneChat.messages.length !== 0">
              <div
                class="cote text-truncate"
                style="width: 250px; font-family: match"
                [ngClass]="{
                  non: getLastMessage(oneChat).view
                }"
              >
                {{ getLastMessage(oneChat).content }}
              </div>
              <div class="status">
                {{
                  getLastMessageHours(oneChat)
                    ? getLastMessageHours(oneChat)
                    : ""
                }}
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </mat-sidenav>

  <mat-sidenav-content
    class="yes"
    style="
      background-image: url('assets/whatsapp-chat.jpg');
      background-size: contain;
    "
  >
    <h4 *ngIf="isSpecificUrl()">Selectionnez une conversation!🖐️</h4>

    <div *ngIf="!isSpecificUrl()">
      <div class="card-header">
        <div
          class="d-flex justify-content-between padding"
          style="background-color: #fff !important"
        >
          <div class="profile-picture" style="background-color: #f44336">
            <div class="initials" *ngIf="curChat.userId === userOnline.id">
              {{ getInitials(curChat.nomSub, curChat.prenomSub) }}
            </div>
            <div class="initials" *ngIf="curChat.userId !== userOnline.id">
              {{ getInitials(curChat.nom, curChat.prenom) }}
            </div>
          </div>

          <div class="mb-0 fw-bold blanc">
            <div *ngIf="curChat.userId === userOnline.id">
              {{ curChat.nomSub }} {{ curChat.prenomSub }}
            </div>
            <div *ngIf="curChat.userId !== userOnline.id">
              {{ curChat.nom }} {{ curChat.prenom }}
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        <div
          #scrollContainer
          [scrollTop]="scrollContainer.scrollHeight"
          class="chat"
        >
          <div *ngIf="messages.length !== 0">
            <div *ngFor="let message of messages">
              <div *ngIf="message.senderId === userOnline.id">
                <div class="row message-body">
                  <div class="col-sm-12 message-main-sender">
                    <div class="sender">
                      <div class="message-text">
                        {{ message.content }}
                      </div>
                      <span class="message-time pull-right">
                        {{ message.dateCreate | date : "HH:mm" }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="!(message.senderId === userOnline.id)">
                <div class="message-body">
                  <div class="col-sm-12 message-main-receiver">
                    <div class="receiver">
                      <div class="message-text">
                        {{ message.content }}
                      </div>
                      <span class="message-time pull-right">
                        {{ message.dateCreate | date : "HH:mm" }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="input-container">
          <input
            (keyup.enter)="onSendMessage()"
            [(ngModel)]="content"
            type="text"
            class="form-control"
            placeholder="Saisissez votre message..."
          />
          <button class="btn btn1" (click)="onSendMessage()">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<div
  class="modal fade"
  id="UserModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="UserModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Les utilisateurs</h2>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <input
          type="text"
          [(ngModel)]="search"
          (input)="filter()"
          class="form-control"
          placeholder="Search..."
        />
        <div *ngFor="let user of userFiltered">
          <div *ngIf="user.id !== userOnline.id">
            <ul class="conversation-list">
              <li
                class="clearfix"
                data-dismiss="modal"
                (click)="userIdSub = user.id; initiateChat()"
              >
                <div class="profile-picture" style="background-color: #f44336">
                  <div class="initials">
                    {{ getInitials(user.nom, user.prenom) }}
                  </div>
                </div>

                <div class="about">
                  <div class="name">{{ user.nom }} {{ user.prenom }}</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
