<body>
  <div><h2>Liste des membres du projet</h2></div>

  <div>
    <button
      type="button"
      class="btn btn1"
      data-toggle="modal"
      data-target="#memberModal"
    >
      Ajouter un membre
    </button>
  </div>
  <mat-form-field>
    <mat-label>Filtrer</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="membre..."
      #input
    />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef>Nom</th>
      <td mat-cell *matCellDef="let element">
        {{ element.nom }}
      </td>
    </ng-container>

    <ng-container matColumnDef="prenom">
      <th mat-header-cell *matHeaderCellDef>Prenom</th>
      <td mat-cell *matCellDef="let element">
        {{ element.prenom }}
      </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let element">
        {{ element.role }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>

      <td mat-cell *matCellDef="let element">
        <div>
          <button
            type="button"
            data-toggle="modal"
            data-target="#confirmationModal"
            (click)="id = element.id"
          >
            <mat-icon class="icon">delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data "{{ input.value }}"</td>
    </tr>
  </table>
</body>
<div class="modal fade" id="confirmationModal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p
          style="
            font-size: 18px;
            margin-bottom: 20px;
            font-family: 'Arial', sans-serif;
          "
        >
          Êtes-vous sûr de vouloir supprimer cet élément ?
        </p>
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          style="margin-right: 10px; font-family: 'Arial', sans-serif"
        >
          Annuler
        </button>
        <button
          type="button"
          class="btn btn-danger"
          id="deleteButton"
          (click)="onDelete(id)"
          data-dismiss="modal"
          style="font-family: 'Arial', sans-serif"
        >
          Supprimer
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="memberModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="memberModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="memberModalLabel">Nouveau membre</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" (click)="clean()">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="modale">
            <label for="nom">Membre:</label>
            <!-- <select
              [(ngModel)]="userId"
              name="nom"
              placeholder="Choisissez un membre"
            >
              <option *ngFor="let user of users" value="{{ user.id }}">
                {{ user.nom }} {{ user.prenom }}
              </option>
            </select> -->
            <input
              list="membre"
              [(ngModel)]="userId"
              (ngModelChange)="onChange()"
            />
            <datalist id="membre">
              <option
                *ngFor="let car of users"
                value="{{ car.prenom.trim() }} {{ car.nom.trim() }}"
              ></option>
            </datalist>
            <label for="description">Role:</label>

            <input list="role" [(ngModel)]="role" />
            <datalist id="role">
              <option *ngFor="let car of data" value="{{ car }}"></option>
            </datalist>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="clean()"
        >
          Fermer
        </button>
        <button
          type="button"
          class="btn btn1"
          data-dismiss="modal"
          (click)="addMember()"
        >
          Valider
        </button>
      </div>
    </div>
  </div>
</div>
