<div *ngIf="loginError" class="alert-container mt-3">
  <div class="alert alert-danger" role="alert">
    <strong>Erreur de connexion: </strong> Veuillez vérifier vos identifiants.
  </div>
</div>
<div *ngIf="sendEmail" class="alert-container mt-3">
  <div class="alert alert-danger" role="alert">
    <strong> Erreur d'envoie: </strong> veuillez verifier votre adresse email
  </div>
</div>
<div
  class="container-fluid body d-flex flex-column align-items-center justify-content-end"
>
  <div class="container mb-4 container1">
    <img src="assets/cosit.png" alt="logo cosit" class="img-fluid logo" />
  </div>
  <h2>Bienvenue sur MASSY</h2>

  <div class="container">
    <form class="registration-form bg-light p-3 rounded">
      <!-- <button class="fermer-btn" (click)="fermerFormulaire()">X</button> -->
      <h3 class="text-center mb-4">Connexion</h3>

      <label for="email">Email:</label>
      <input
        [(ngModel)]="email"
        type="email"
        id="email"
        name="email"
        class="form-control"
        placeholder="Votre adresse email"
        required
      />

      <label for="password">Mot de passe:</label>
      <input
        [(ngModel)]="password"
        type="password"
        id="password"
        name="password"
        class="form-control"
        placeholder="Votre mot de passe"
        required
      />

      <div class="container-bouton text-center mt-3">
        <button type="submit" class="btn btn-block btn1" (click)="login()">
          Se connecter
        </button>
      </div>
      <div class="text">
        <a data-toggle="modal" data-target="#emailModal" class="a"
          >Mot de passe oublié?</a
        >
      </div>
    </form>
  </div>
</div>

<div
  class="modal fade"
  id="emailModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="emailModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="emailModalLabel">
          Changer de mot de passe
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="modale">
            <label for="nom">Veuillez inscrire votre email:</label>

            <input
              [(ngModel)]="mail"
              type="text"
              id="mail"
              name="mail"
              placeholder="example@gmail.com"
              required
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Fermer
        </button>
        <button
          type="button"
          class="btn btn1"
          data-dismiss="modal"
          (click)="onResetCode()"
        >
          Valider
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="passwordModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="passwordModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="passwordModalLabel">
          Changer de mot de passe
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="modale">
            <label for="nom">Veuillez inscrire le code recu:</label>
            <input
              [(ngModel)]="code"
              type="text"
              id="code"
              name="code"
              placeholder="ex: 123456"
              required
            />
            <label for="nom">Nouveau mot de passe:</label>
            <input
              [(ngModel)]="password"
              type="password"
              id="password"
              name="password"
              placeholder="*****"
              required
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Fermer
        </button>
        <button
          type="button"
          class="btn btn1"
          data-dismiss="modal"
          (click)="onResetPassword()"
        >
          Valider
        </button>
      </div>
    </div>
  </div>
</div>
