<div *ngIf="sendEmail" class="alert-container mt-3">
  <div class="alert alert-danger" role="alert">
    <strong> Erreur d'envoie: </strong> veuillez verifier votre adresse email
  </div>
</div>
<div *ngIf="verifyCode" class="alert-container mt-3">
  <div class="alert alert-danger" role="alert">
    <strong> Erreur de vérification: </strong> code ou mot de passe invalide
  </div>
</div>
<button *ngIf="!sendEmail && !verifyCode" class="bt" (click)="dashboard()">
  <mat-icon>arrow_back_ios</mat-icon>
</button>

<div class="container-xl px-4 mt-4">
  <hr class="mt-0 mb-4" />
  <div class="row">
    <div class="col-xl-4">
      <!-- Profile picture card-->
      <div class="card mb-4 mb-xl-0">
        <div class="card-header">Photo de profil</div>
        <div class="card-body text-center">
          <!-- Profile picture image-->
          <div
            class="img-account-profile rounded-circle mb-2 mx-auto"
            style="
              background-color: #f44336;
              width: 100px;
              height: 100px;
              font-size: 48px;
              line-height: 100px;
              text-align: center;
              font-weight: 600;
              color: white;
            "
          >
            {{ getInitials(nom, prenom) }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <!-- Account details card-->
      <div class="card mb-4">
        <div class="card-header">Informations personnelles</div>
        <div class="card-body">
          <form>
            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (first name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputFirstName"
                  >First name</label
                >
                <input
                  [(ngModel)]="prenom"
                  readonly
                  class="form-control"
                  id="prenom"
                  name="prenom"
                  type="text"
                />
              </div>
              <!-- Form Group (last name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputLastName">Last name</label>
                <input
                  [(ngModel)]="nom"
                  readonly
                  class="form-control"
                  id="nom"
                  name="nom"
                  type="text"
                />
              </div>
            </div>

            <!-- Form Group (email address)-->
            <div class="mb-3">
              <label class="small mb-1" for="inputEmailAddress"
                >Email address</label
              >
              <input
                [(ngModel)]="email"
                readonly
                class="form-control"
                id="email"
                name="email"
                type="email"
              />
            </div>
            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (phone number)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputPhone">Phone number</label>
                <input
                  [(ngModel)]="phone"
                  readonly
                  class="form-control"
                  id="phone"
                  name="phone"
                  type="tel"
                />
              </div>

              <div class="col-md-6">
                <label class="small mb-1" for="button"
                  >Changer de mot de passe?</label
                >
                <button
                  class="btn1 password-button"
                  data-toggle="modal"
                  data-target="#emailModal"
                >
                  Changer de mot de passe
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="emailModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="emailModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="emailModalLabel">
          Changer de mot de passe
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="modale">
            <label for="nom">Veuillez inscrire votre email:</label>

            <input
              [(ngModel)]="mail"
              type="text"
              id="mail"
              name="mail"
              placeholder="example@gmail.com"
              required
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Fermer
        </button>
        <button
          type="button"
          class="btn btn1"
          data-dismiss="modal"
          (click)="onResetCode()"
        >
          Valider
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="passwordModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="passwordModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="passwordModalLabel">
          Changer de mot de passe
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="modale">
            <label for="nom">Veuillez inscrire le code recu:</label>

            <input
              [(ngModel)]="code"
              type="text"
              id="code"
              name="code"
              placeholder="ex: 123456"
              required
            />

            <label for="nom">Nouveau mot de passe:</label>

            <input
              [(ngModel)]="password"
              type="password"
              id="password"
              name="password"
              placeholder="*****"
              required
            />
            <label for="nom">Confirmer le mot de passe:</label>

            <input
              type="password"
              id="password"
              name="password"
              placeholder="*****"
              required
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Fermer
        </button>
        <button
          type="button"
          class="btn btn1"
          data-dismiss="modal"
          (click)="onResetPassword()"
        >
          Valider
        </button>
      </div>
    </div>
  </div>
</div>
