<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">card_travel</i>
            </div>
            <p class="card-category">Les projets en cours</p>
            <h3 class="card-title">
              {{ allProjects ? allProjects.length : 0 }}
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <a href="javascript:void(0)"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">book</i>
            </div>
            <p class="card-category">Les tâches en cours</p>
            <h3 class="card-title">{{ allTasks ? allTasks.length : 0 }}</h3>
          </div>
          <div class="card-footer">
            <div class="stats"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">checkbox</i>
            </div>
            <p class="card-category">Les tâches validées</p>
            <h3 class="card-title">
              {{ tasksTrue ? tasksTrue.length : 0 }}
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">person</i>
            </div>
            <p class="card-category">Utilisateurs connectés</p>
            <h3 class="card-title">
              {{ allUsersOnline ? allUsersOnline.length : 0 }}
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-primary">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">Actions:</span>
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a
                      mat-button
                      class="nav-link active"
                      href="#messages"
                      data-toggle="tab"
                    >
                      <i class="material-icons">book</i> MES TACHES
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      mat-button
                      class="nav-link"
                      href="#profile"
                      data-toggle="tab"
                    >
                      <i class="material-icons">card_travel</i> MES PROJETS
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <!-- <li class="nav-item">
                    <a
                      mat-button
                      class="nav-link"
                      href="#settings"
                      data-toggle="tab"
                    >
                      <i class="material-icons">cloud</i> Server
                      <div class="ripple-container"></div>
                    </a>
                  </li> -->
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="messages">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let t of allTasks">
                      <td>
                        <div class="form-check">
                          <div>
                            <label class="form-check-label">
                              <input
                                class="form-check-input"
                                [disabled]="true"
                                type="checkbox"
                                [checked]="t.status === true"
                              />
                              <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                        </div>
                      </td>
                      <td
                        [ngClass]="{
                          non:
                            t.deadline < (currentDate | date : 'yyyy-MM-dd') &&
                            t.steps !== 'Terminée'
                        }"
                      >
                        <div class="d-flex items-center justify-content-start">
                          <mat-icon
                            style="margin-right: 10px"
                            *ngIf="
                              t.deadline <
                                (currentDate | date : 'yyyy-MM-dd') &&
                              t.steps !== 'Terminée'
                            "
                            >warning</mat-icon
                          >
                          {{ t.title }}
                        </div>
                      </td>

                      <td class="td-actions text-right">
                        <button
                          mat-raised-button
                          type="button"
                          matTooltip="Voir la tâche"
                          [matTooltipPosition]="'above'"
                          class="btn btn-primary btn-link btn-sm btn-just-icon"
                          (click)="onRedirectTache(t.id)"
                        >
                          <i class="material-icons">visibility</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="profile">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let p of allProjects">
                      <td>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input
                              class="form-check-input"
                              [disabled]="true"
                              type="checkbox"
                              [checked]="p.status === 100"
                            />
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td>
                        {{ p.title }}
                      </td>
                      <td class="td-actions text-right">
                        <button
                          mat-raised-button
                          type="button"
                          matTooltip="Voir le projet"
                          [matTooltipPosition]="'above'"
                          class="btn btn-primary btn-link btn-sm btn-just-icon"
                          (click)="onRedirectProject(p.id)"
                        >
                          <i class="material-icons">visibility</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Utilisateurs connectés</h4>
          </div>

          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <th>Prénom</th>
                <th>Nom</th>
              </thead>
              <tbody>
                <tr *ngFor="let u of allUsersOnline">
                  <td>{{ u.prenom }}</td>
                  <td>{{ u.nom }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- <mat-paginator
            [length]="allUsersOnline.length"
            [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 25]"
            (page)="onPageChange($event)"
          ></mat-paginator> -->
        </div>
      </div>
    </div>
  </div>
</div>
