.icon-m {
  font-size: 65px;
  height: 60px;
  width: 60px;
}

.detail-subtitle {
  font-size: 18px;
  font-weight: bolder;
  margin-top: 5px;
}

.numItem {
  font-size: 20px;
  margin-bottom: 10px;
}

.item-num {
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.item-num:hover {
  box-shadow: 0 0 15px rgba(33, 33, 33, 0.2);
}
.y {
  font-weight: 600;
  font-size: 20px;
}
#chart {
  max-width: 380px;
  margin: 35px auto;
  padding: 0;
}
#chart-container {
  max-width: 400px;
  margin: 0 auto;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.card-body {
  padding: 20px;
}

.card-header {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 8px 8px 0 0;
}
