.icon-m {
  font-size: 65px;
  height: 60px;
  width: 60px;
}

.detail-subtitle{
  font-size: 18px;
  font-weight: bolder;
  margin-top: 5px;
}

.numItem{
  font-size: 20px;
  margin-bottom: 10px;
}

.item-num{
  cursor: pointer;
  transition: box-shadow .3s;
}

.item-num:hover{
  box-shadow: 0 0 15px rgba(33,33,33,.2); 
}