<div class="main-content">
  <div class="container-fluid">
    <div class="row bg-light rounded shadow-1 py-3">
      <div class="col-md-9">
        <div class="card mb-3 box box-secondary">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Titre</h6>
              </div>
              <div id="projTitle" class="col-sm text-secondary y">
                {{ oneProject.title }}
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Description</h6>
              </div>
              <div id="projDesc" class="col-sm text-secondary text-justify">
                {{ oneProject.desc }}
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Date Début</h6>
              </div>
              <div id="projDateStart" class="col-sm text-secondary">
                {{ oneProject.date_deb | date : "dd-MM-yyyy" }}
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Date Fin</h6>
              </div>
              <div id="projDateEnd" class="col-sm text-secondary">
                {{ oneProject.date_fin | date : "dd-MM-yyyy" }}
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Progréssion</h6>
              </div>
              <div class="col-sm text-secondary">
                <div class="progress">
                  <div
                    class="progress-bar progress-bar-striped"
                    role="progressbar"
                    [style.width.%]="oneProject.status"
                    [style.background-color]="
                      getProgressBarColor(oneProject.status)
                    "
                    [attr.aria-valuenow]="oneProject.status"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    {{ oneProject.status ? oneProject.status : 0 }}%
                  </div>
                </div>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Entreprise</h6>
              </div>
              <div id="projClient" class="col-sm text-secondary">
                {{ oneProject.organisme }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div
          (click)="onRedirectMember(oneProject.id)"
          class="card item-num py-1 px-3"
        >
          <div class="content">
            <div class="row">
              <div class="col-sm-4">
                <div class="icon-big text-center">
                  <mat-icon class="text-primary icon-m"
                    >supervisor_account</mat-icon
                  >
                </div>
              </div>
              <div class="col-sm-8">
                <p class="detail-subtitle">Membres</p>
                <span class="numItem">{{ oneProject.members.length }}</span>
              </div>
            </div>
          </div>
        </div>

        <div
          (click)="onRedirectTask(oneProject.id)"
          class="card item-num py-1 px-3"
        >
          <div class="content">
            <div class="row">
              <div class="col-sm-4">
                <div class="icon-big text-center">
                  <mat-icon class="text-warning icon-m">assignment</mat-icon>
                </div>
              </div>
              <div class="col-sm-8">
                <p class="detail-subtitle">Tâches</p>
                <span class="numItem">{{ oneProject.tasks.length }}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="card item-num py-1 px-3">
          <div class="content">
            <div class="row">
              <div class="col-sm-4">
                <div class="icon-big text-center">
                  <mat-icon class="text-secondary icon-m">folder</mat-icon>
                </div>
              </div>
              <div class="col-sm-8">
                <p class="detail-subtitle">Fichiers</p>
                <span class="numItem">{{ oneProject.attachments.length }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div id="chart-container" class="card">
        <div class="card-header">Titre de la carte</div>
        <div class="card-body">
          <div id="chart">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [labels]="chartOptions.labels"
              [responsive]="chartOptions.responsive"
            ></apx-chart>
          </div>
        </div>
      </div>

      <div id="chart-container" class="card">
        <div class="card-header">Titre de la carte</div>
        <div class="card-body">
          <div id="chart">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [labels]="chartOptions.labels"
              [responsive]="chartOptions.responsive"
            ></apx-chart>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
