<body>
  <div><h2>Liste de vos projets</h2></div>
  <div *ngIf="userOnline.type === 'admin'">
    <button
      type="button"
      class="btn btn1"
      data-toggle="modal"
      data-target="#projetModal"
      data-whatever="@mdo"
    >
      Ajouter un projet
    </button>
  </div>
  <mat-form-field>
    <mat-label>Filtrer</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="projet..."
      #input
    />
  </mat-form-field>

  <mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab>
      <ng-template mat-tab-label>Nouveaux {{ dataForTab1.length }}</ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>En cours {{ dataForTab2.length }}</ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>Terminé {{ dataForTab3.length }}</ng-template>
    </mat-tab>
  </mat-tab-group>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <tr mat-row *matRowDef="let row; columns: displayedColumns">
      hi
    </tr>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Nom du projet</th>
      <td
        class="cursor-pointer"
        mat-cell
        *matCellDef="let element"
        (click)="onClickProject(element.id)"
      >
        {{ element.title }}
      </td>
    </ng-container>

    <ng-container matColumnDef="date_deb">
      <th mat-header-cell *matHeaderCellDef>Date de debut</th>
      <td
        class="cursor-pointer"
        mat-cell
        *matCellDef="let element"
        (click)="onClickProject(element.id)"
      >
        {{ element.date_deb }}
      </td>
    </ng-container>

    <ng-container matColumnDef="date_fin">
      <th mat-header-cell *matHeaderCellDef>Date de fin</th>
      <td
        class="cursor-pointer"
        mat-cell
        *matCellDef="let element"
        (click)="onClickProject(element.id)"
      >
        {{ element.date_fin }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Progression</th>
      <td
        class="cursor-pointer"
        mat-cell
        *matCellDef="let element"
        (click)="onClickProject(element.id)"
      >
        {{ element.status ? element.status : 0 }}%

        <div class="progress">
          <div
            class="progress-bar progress-bar-striped"
            role="progressbar"
            [style.width.%]="element.status"
            [style.background-color]="getProgressBarColor(element.status)"
            [attr.aria-valuenow]="element.status"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Actions</th>

      <td class="cursor-pointer" mat-cell *matCellDef="let element">
        <div>
          <button
            type="button"
            data-toggle="modal"
            data-target="#modifModal"
            (click)="onRecup(element.id)"
            *ngIf="userOnline.type === 'admin'"
          >
            <mat-icon>create</mat-icon>
          </button>
          <button
            type="button"
            data-toggle="modal"
            data-target="#confirmationModal"
            (click)="id = element.id"
            *ngIf="userOnline.type === 'admin'"
          >
            <mat-icon class="icon">delete </mat-icon>
          </button>
          <button (click)="onClickProjectMembers(element.id)">
            <mat-icon>group</mat-icon>
          </button>
          <button (click)="onClickView(element.id)">
            <mat-icon>visibility</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data "{{ input.value }}"</td>
    </tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</body>

<div *ngIf="loading" class="loading-container">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<div class="modal fade" id="confirmationModal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p
          style="
            font-size: 18px;
            margin-bottom: 20px;
            font-family: 'Arial', sans-serif;
          "
        >
          Êtes-vous sûr de vouloir supprimer cet élément ?
        </p>
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          style="margin-right: 10px; font-family: 'Arial', sans-serif"
        >
          Annuler
        </button>
        <button
          type="button"
          class="btn btn-danger"
          id="deleteButton"
          (click)="onDelete(id)"
          data-dismiss="modal"
          style="font-family: 'Arial', sans-serif"
        >
          Supprimer
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Loading</h4>
    <button
      type="button"
      class="btn-close"
      (click)="modal.dismiss('Cross click')"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <ngb-progressbar
      type="info"
      [value]="100"
      [striped]="true"
      [animated]="true"
    ></ngb-progressbar>
  </div>
</ng-template>

<div
  class="modal fade"
  id="projetModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="projetModalLabel"
  aria-hidden="true"
  [hidden]="loading"
>
  <div *ngIf="loading" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Chargement...</span>
  </div>

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="projetModalLabel">Nouveau projet</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="clean()"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="modale">
            <label for="nom">Nom:</label>
            <input
              [(ngModel)]="title"
              type="text"
              id="nom"
              name="nom"
              placeholder="nom du projet"
              required
            />
            <label for="description">Description:</label>
            <textarea
              cols="55"
              rows="3"
              [(ngModel)]="desc"
              type="text"
              id="description"
              name="description"
              placeholder="description du projet"
              required
            ></textarea>
            <div style="justify-content: space-between; display: flex">
              <span class="yo">Date de début</span>
              <span class="yo">Date de fin</span>
            </div>
            <div style="justify-content: space-between; display: flex">
              <input
                [(ngModel)]="date_deb"
                type="date"
                id="date_deb"
                name="date_deb"
                placeholder="date de debut"
                required
              />

              <input
                [(ngModel)]="date_fin"
                type="date"
                id="date_fin"
                name="date_fin"
                placeholder="date de fin"
                required
              />
            </div>
            <label for="budget_prevu">Cout du projet:</label>
            <input
              [(ngModel)]="budg_prev"
              type="text"
              pattern="\d+"
              id="budget_prevu"
              name="budget_prevu"
              placeholder="budget prevu pour le projet"
              required
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="clean()"
        >
          Fermer
        </button>
        <button
          type="button"
          class="btn btn1"
          data-dismiss="modal"
          (click)="onSubmit($event)"
        >
          Valider
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modifModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modifModalLabel"
  aria-hidden="true"
  [hidden]="loading"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modifModalLabel">Modifier le projet</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="clean()"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="modale">
            <label for="nom">Nom:</label>
            <input
              [(ngModel)]="title"
              type="text"
              id="nom"
              name="nom"
              placeholder="nom du projet"
              required
            />
            <label for="description">Description:</label>
            <textarea
              cols="55"
              rows="3"
              [(ngModel)]="desc"
              type="text"
              id="description"
              name="description"
              placeholder="description du projet"
              required
            ></textarea>
            <div style="justify-content: space-between; display: flex">
              <span class="yo">Date de début</span>
              <span class="yo">Date de fin</span>
            </div>
            <div style="justify-content: space-between; display: flex">
              <input
                [(ngModel)]="date_deb"
                type="date"
                id="date_deb"
                name="date_deb"
                placeholder="Date de début"
                required
              />

              <input
                [(ngModel)]="date_fin"
                type="date"
                id="date_fin"
                name="date_fin"
                placeholder="date de fin"
                required
              />
            </div>
            <label for="budget_prevu">Cout du projet:</label>
            <input
              [(ngModel)]="budg_prev"
              type="text"
              pattern="\d+"
              id="budget_prevu"
              name="budget_prevu"
              placeholder="budget prevu pour le projet"
              required
            />
            <!-- <label for="budget_prevu">Budget prevu:</label>
            <input
              [(ngModel)]="budg_prev"
              type="text"
              id="budget_prevu"
              name="budget_prevu"
              placeholder="budget prevu pour le projet"
              required
            /> -->
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="clean()"
        >
          Fermer
        </button>
        <button
          type="button"
          class="btn btn1"
          data-dismiss="modal"
          (click)="onEdit()"
        >
          Valider
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngFor="let projet of projet_array">
  <div *ngIf="showConfirmation" class="confirmation-container">
    <div class="confirmation-box">
      <h3>Confirmation</h3>
      <p>Are you sure you want to delete?</p>
      <button mat-button (click)="confirmDelete(projet.id)">Yes</button>
      <button mat-button (click)="cancelDelete()">No</button>
    </div>
  </div>
</div>
