<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-danger">
        <h3 class="card-title">Notifications</h3>
      </div>
      <div class="card-body">
        <div>
          <div *ngFor="let n of notifies">
            <div *ngIf="n.motif !== 'Tache'">
              <div
                class="alert alert-info alert-with-icon"
                data-notify="container"
              >
                <i class="material-icons" data-notify="icon">add_alert</i>
                <button
                  mat-button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                  (click)="onDelete(n.id)"
                >
                  <i class="material-icons text-dark">delete</i>
                </button>
                <span data-notify="message" style="font-weight: 400">{{
                  n.content
                }}</span>
              </div>
            </div>

            <div *ngIf="n.motif === 'Tache'">
              <div class="alert alert-warning">
                <button
                  mat-button
                  type="button"
                  class="close"
                  data-dismiss="alert"
                  aria-label="Close"
                  (click)="onDelete(n.id)"
                >
                  <i class="material-icons text-dark" style="opacity: 1"
                    >delete</i
                  >
                </button>
                <span style="font-weight: 400"> {{ n.content }} </span>
              </div>
            </div>
          </div>

          <!-- <div class="col-md-12">
            <div class="places-buttons">
              <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                  <h4 class="card-title">
                    Notifications Places
                    <p class="category">Click to view notifications</p>
                  </h4>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                  <div class="row">
                    <div class="col-md-4">
                      <button
                        mat-raised-button
                        class="btn btn-danger btn-block"
                        (click)="showNotification('top', 'left')"
                      >
                        Top Left
                      </button>
                    </div>
                    <div class="col-md-4">
                      <button
                        mat-raised-button
                        class="btn btn-danger btn-block"
                        (click)="showNotification('top', 'center')"
                      >
                        Top Center
                      </button>
                    </div>
                    <div class="col-md-4">
                      <button
                        mat-raised-button
                        class="btn btn-danger btn-block"
                        (click)="showNotification('top', 'right')"
                      >
                        Top Right
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                  <div class="row">
                    <div class="col-md-4">
                      <button
                        mat-raised-button
                        class="btn btn-danger btn-block"
                        (click)="showNotification('bottom', 'left')"
                      >
                        Bottom Left
                      </button>
                    </div>
                    <div class="col-md-4">
                      <button
                        mat-raised-button
                        class="btn btn-danger btn-block"
                        (click)="showNotification('bottom', 'center')"
                      >
                        Bottom Center
                      </button>
                    </div>
                    <div class="col-md-4">
                      <button
                        mat-raised-button
                        class="btn btn-danger btn-block"
                        (click)="showNotification('bottom', 'right')"
                      >
                        Bottom Right
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
        </div>
      </div>
    </div>
  </div>
</div>
