<body>
  <div><h2>Liste des utilisateurs</h2></div>
  <!-- <div *ngIf="userOnline.type === 'admin'">
    <button
      type="button"
      class="btn btn1"
      data-toggle="modal"
      data-target="#userModal"
      data-whatever="@mdo"
    >
      Ajouter un utilisateur
    </button>
  </div> -->
  <mat-form-field>
    <mat-label>Filtrer</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="utilisateurs..."
      #input
    />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef>Nom</th>
      <td mat-cell *matCellDef="let element">{{ element.nom }}</td>
    </ng-container>

    <ng-container matColumnDef="prenom">
      <th mat-header-cell *matHeaderCellDef>Prenom</th>
      <td mat-cell *matCellDef="let element">{{ element.prenom }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="3">No data "{{ input.value }}"</td>
    </tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</body>

<div
  class="modal fade"
  id="userModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="projetModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="projetModalLabel">Nouvel utilisateur</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="modale">
            <div style="display: flex; justify-content: space-between">
              <input
                [(ngModel)]="nom"
                type="text"
                id="nom"
                name="nom"
                placeholder="nom"
                required
              />

              <input
                [(ngModel)]="prenom"
                type="text"
                id="prenom"
                name="prenom"
                placeholder="prenom"
                required
              />
            </div>

            <input
              [(ngModel)]="email"
              type="email"
              id="email"
              name="email"
              placeholder="email"
              required
            />

            <input
              [(ngModel)]="password"
              type="password"
              id="password"
              name="password"
              placeholder="password"
              required
            />

            <div style="display: flex; justify-content: space-between">
              <input
                [(ngModel)]="phone"
                type="text"
                id="phone"
                name="phone"
                placeholder="contact"
                required
              />

              <input
                [(ngModel)]="type"
                type="text"
                id="type"
                name="type"
                placeholder="type"
                required
              />
            </div>
            <label for="role">Rôle:</label>
            <input
              [(ngModel)]="role"
              type="text"
              id="role"
              name="role"
              placeholder="role"
              required
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Fermer
        </button>
        <button
          type="button"
          class="btn btn1"
          data-dismiss="modal"
          (click)="onSubmit()"
        >
          Valider
        </button>
      </div>
    </div>
  </div>
</div>
